<ion-content [fullscreen]="true" class="login-content">
  <div class="parent-container">
    <div [formGroup]="loginForm" class="form-container">
      <div class="header-wrapper">
        <h1>Bienvenido</h1>
        <p>Ingresa tus datos para acceder a tu cuenta</p>
      </div>

      <div class="inputs-container" [formGroup]="loginForm">
        <ion-item lines="none" class="input-item">
          <ion-icon name="mail-outline" slot="start" class="ion-margin-end"></ion-icon>
          <ion-input placeholder="Email" formControlName="Email" type="text"></ion-input>
        </ion-item>
        <ion-item lines="none" class="input-item">
          <ion-icon name="lock-closed-outline" slot="start" class="ion-margin-end"></ion-icon>
          <ion-input placeholder="Contraseña" formControlName="Password" type="password"></ion-input>
        </ion-item>
      </div>

      <div class="buttons-container">
        <!-- <ion-button expand="block" fill="solid" (click)="loginFunction()">
          <ion-icon name="log-in-outline" slot="start" class="ion-margin-end"></ion-icon>
          Ingresar
        </ion-button> -->
        <app-custom-button [text]="'Ingresar'" [type]="'primary'" [iconName]="'log-in-outline'" [expand]="'block'"
          (clicked)="loginFunction()"></app-custom-button>
        <!-- <ion-button expand="block" fill="solid" (click)="registerFunction()">
          <ion-icon name="person-add-outline" slot="start" class="ion-margin-end"></ion-icon>
          Registrarse
        </ion-button> -->
        <app-custom-button [text]="'Registrarse'" [type]="'primary'" [iconName]="'person-add-outline'"
          (clicked)="registerFunction()"></app-custom-button>
        <!-- <ion-button expand="block" fill="solid" (click)="logginInvitado()">
          <ion-icon name="people-outline" slot="start" class="ion-margin-end"></ion-icon>
          Ingresar como Invitado
        </ion-button> -->
        <!-- <app-custom-button [text]="'Ingresa como Invitado'" [type]="'primary'" [iconName]="'people-outline'"
          (clicked)="logginInvitado()"></app-custom-button> -->
        <app-custom-button [text]="'Ingresa como Invitado'" [type]="'secondary'" [iconName]="'people-outline'"
          (clicked)="logginInvitado()"></app-custom-button>
      </div>
      <p>Version 1.0.0</p>
    </div>
  </div>
</ion-content>

<!-- <ion-modal #registerModal [breakpoints]="[0, 0.25, 0.5, 0.75, 0.90]" [initialBreakpoint]="0.90">
  <ng-template>
    <app-register-form [Title]="'Regis trate'" [userData]="" (formSubmit)="getDataEmitted($event)"></app-register-form>
  </ng-template>
</ion-modal> -->