<ion-item>
  @if (controlType === 'select') {
  <ion-select [label]="selectLabel" [placeholder]="placeholderText" [value]="value" [disabled]="disabled"
    (ionChange)="onSelectChange($event)" (ionBlur)="handleBlur()">
    @for (option of selectOptions; track option.value) {
    <ion-select-option [value]="option.value">{{ option.label }}</ion-select-option>
    }
  </ion-select>
  } @else {
  <ion-input [type]="inputType" class="ion-margin-end" [placeholder]="placeholderText" [value]="value"
    [disabled]="disabled" (ionInput)="onInput($event)" (ionBlur)="handleBlur()"></ion-input>
  }
  <ion-icon name="{{iconName}}" slot="{{iconSlot}}" (click)="iconClicked()"></ion-icon>
</ion-item>