<ion-header [translucent]="true" class="ion-hide-sm-down">
  <ion-toolbar>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">usuarios</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="page-container">

    <ion-grid>
      <div class="controls-header">
        <div class="ion-activable">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-searchbar show-clear-button="focus" placeholder="Buscar" animated="true" [ngModel]="searchValue()"
            (ngModelChange)="searchValue.set($event)">
          </ion-searchbar>
        </div>
        <div class="buttons-header">
          <ion-button expand="block" type="primary" (click)="signupFunc()" class="ion-activable">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon name="person-add-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </div>
      </div>

      @if (hasUsers()) {
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Email</th>
              <th>Telefono</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for (usuario of usuarios() | search:searchValue():['nombre', 'apellidos', 'email', 'telefono']; track
            usuario.idUser) {
            <tr>
              <td data-label="Nombre">{{ usuario.nombre }}</td>
              <td data-label="Apellidos">{{ usuario.apellidos }}</td>
              <td data-label="Email">{{ usuario.email }}</td>
              <td data-label="Telefono">{{ usuario.telefono }}</td>
              <td>
                <ion-button expand="block" (click)="editarUsuario(usuario.idUser)">
                  <ion-icon name="create-outline" slot="icon-only" size="default"></ion-icon>
                </ion-button>
                <ion-button expand="block" color="danger" (click)="EliminarUsuario(usuario.idUser)">
                  <ion-icon name="trash-outline" slot="icon-only" size="default"></ion-icon>
                </ion-button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      } @else {
      <h4>No hay información disponible</h4>
      }
    </ion-grid>


  </div>

</ion-content>

<ion-modal #modalSignUp class="custom-modal" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.25, 0.5, 0.75]">
  <ng-template>
    <app-register-form [Title]="'Registrar'" [userData]="usuarioToEdit"
      (formSubmit)="beginSignup($event)"></app-register-form>
  </ng-template>
</ion-modal>