ion-button.btn-primary {
    --border-radius: 15px;
    --font-size: 14px;
    --color: white;
    --background: var(--primary-btn-bg);

    cursor: pointer;

    :hover {
        opacity: 0.5;
    }
}

ion-button.btn-secondary {
    border-radius: 15px;
    border: 1px solid var(--secondary-btn-color);
    --font-size: 14px;
    --color: var(--secondary-btn-color);
    --background: var(--secondary-btn-bg);
    --border-radius: 15px;

    cursor: pointer;

    :hover {
        opacity: 0.5;
    }
}

.add-picture-btn,
.change-picture-btn {
    --border-radius: 20px;
    --padding-start: 1.5rem;
    --padding-end: 1.5rem;
}