<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="page-container">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center">Mi Información</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <!-- Profile Picture Section -->
              <div class="ion-text-center ion-margin-bottom">
                <div class="profile-picture-container">
                  @if (!imgSrc) {
                  <div class="profile-picture-placeholder">
                    <ion-icon name="person-circle-outline"></ion-icon>
                  </div>
                  <app-custom-button [type]="'primary'" [size]="'small'" [iconName]="'camera-outline'"
                    [text]="'Agregar imagen'" [class]="'add-picture-btn'" [slot]="'start'"
                    (clicked)="showPictureSourceOptions()"></app-custom-button>
                  } @else {
                  <img [src]="imgSrc" alt="Profile Picture" class="profile-picture" />
                  <ion-button fill="outline" color="primary" size="small" class="change-picture-btn"
                    (click)="showPictureSourceOptions()">
                    <ion-icon name="camera-outline" slot="start"></ion-icon>
                    Cambiar Imagen
                  </ion-button>
                  }
                </div>
              </div>

              <!-- User Information Section -->
              <div class="user-info-section ion-margin-top">
                <ion-item>
                  <!-- <ion-label position="stacked">Nombre</ion-label> -->
                  <ion-label position="" class="userInfo">{{currentUser?.nombre || 'Nombre'}}</ion-label>
                </ion-item>
                <ion-item>
                  <!-- <ion-label position="stacked">Apellidos</ion-label> -->
                  <ion-label position="" class="userInfo">{{currentUser?.apellidos || 'Apellido'}}</ion-label>
                </ion-item>
                <ion-item>
                  <!-- <ion-label position="stacked">Email</ion-label> -->
                  <ion-label position="" class="userInfo">{{currentUser?.email ||
                    'nombre@correo.com'}}</ion-label>
                </ion-item>
                <ion-item>
                  <!-- <ion-label position="stacked">Telefono</ion-label> -->
                  <ion-label position="" class="userInfo">
                    {{currentUser?.telefono || 'Ej: +52644123456'}}
                  </ion-label>
                </ion-item>
              </div>

              <div class="button-section">
                <!-- <ion-button color="primary" size="default" (click)="editProfile()">
                   <ion-icon slot="start" name="create-outline"></ion-icon>
                  Editar Perfil
                </ion-button> -->
                <app-custom-button [type]="'primary'" [expand]="'block'" [text]="'Editar Perfil'"
                  [iconName]="'create-outline'" [slot]="'start'" (clicked)="editProfile()">
                </app-custom-button>
                <app-theme-toggle></app-theme-toggle>
              </div>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- <app-restore-psw></app-restore-psw> -->
</ion-content>

<ion-modal #modalEditInfo [initialBreakpoint]="0.90" [breakpoints]="[0, 0.25, 0.5, 0.75, 0.90]">
  <ng-template>
    <app-register-form [Title]="'Editar Perfil'" [userData]="currentUser"
      (formSubmit)="getDataEmitted($event)"></app-register-form>
  </ng-template>
</ion-modal>