ion-toolbar {
    --background: var(--ion-cont-bg);
}

ion-content  {
    --background: #05061c;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}