@import '../../../theme/variables.scss';

:host {
  display: block;
  background-color: var(--ion-background-color);
}

ion-header {
  background-color: var(--ion-background-color);
  background: var(--ion-background-color);
}

.login-content {
  --padding-top: 0;
  --padding-bottom: 0;
}

.form-container {
  width: 90%;
  max-width: $container-max-width;
  padding: $spacing-3xl $spacing-xl;
  border-radius: $border-radius-lg;
  background: var(--ion-cont-bg);
  box-shadow: $shadow-lg;
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  margin: 8px auto;
}

ion-item {
  --border-radius: #{$border-radius-base};
  --background: var(--ion-background-color);
}

ion-button {
  min-height: $button-height;
  --border-radius: #{$button-border-radius};
}

@media (min-width: $breakpoint-desktop) {
}

@media (min-width: $breakpoint-tablet) {

}