:host {
  display: block;
  background-color: #05061c;
}

ion-toolbar {
  --background: var(--ion-cont-bg);
}

.ion-page {
  height: 0;
}

ion-item {
  --border-radius: 14px;
  --background: #05061c;
}

ion-button {
  min-height: 48px;
  --border-radius: 14px;
}

ion-icon {
  font-size: 20px;
  cursor: pointer;
}