/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

// Import design system variables
@import 'theme/variables.scss';

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

// Global form spacing
form {
    gap: $spacing-sm;
}

//colores base
:root {
    // color boton primary
    --primary-btn-bg: #4f46e5;
    --primary-btn-color: #ffffff;

    // color boton secondary
    --secondary-btn-bg: transparent;
    --secondary-btn-color: #4f46e5;

    //color contenedor primario
    --primary-container-bg: blue;

    // color fondo base
    --ion-background-color: #f3f4f6 !important;

    // color fondo contenedor
    --ion-cont-bg: #ffffff;

    // color text
    --ion-txt-color: #1f2937;

    // color subtext
    --ion-stxt-color: #6b7280;

    // icon-color
    --ion-icon-color: #9ca3af;
}

//colores dark mode
body.dark {
    --primary-btn-bg: #6366f1;
    --primary-btn-color: #ffffff;

    --secondary-btn-bg: transparent;
    --secondary-btn-color: #a5b4fc;

    --primary-container-bg: red;

    --ion-background-color: #000000;

    --ion-cont-bg: #494444;

    // color text
    --ion-txt-color: #ffffff;

    // color subtext
    --ion-stxt-color: #f3f4f6;

    // icon-color
    --ion-icon-color: #cdced1;
}

h1,
p {
    color: var(--ion-txt-color);
}


// Modal styling
ion-modal {
    --border-top-left-radius: #{$modal-border-radius-top};
    --border-top-right-radius: #{$modal-border-radius-top};

    // ion-content {
    //     --color: var(--ion-txt-color);
    //     --background: var(--ion-background-color) !important;
    // }

}

ion-modal.custom-modal {
    --border-top-left-radius: #{$modal-border-radius-top};
    --border-top-right-radius: #{$modal-border-radius-top};


    --color: black;
    --background: white;


}