<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{Title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<form class="form-container" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <ion-grid>
    <!-- First Name -->
    <ion-col size="12" size-md="6">
      <!-- custom input component -->
      <app-custom-input [iconName]="'person-outline'" [iconSlot]="'start'" [inputType]="'text'"
        [placeholderText]="'Ej: Alberto'" formControlName="firstName" />
      <!-- custom input component -->
      @if (submitted && f['firstName'].invalid) {
      <div class="error-message">
        @if (f['firstName'].errors?.['required']) {
        <span>El nombre es requerido</span>
        }
        @if (f['firstName'].errors?.['minlength']) {
        <span>Mínimo 2 caracteres</span>
        }
      </div>
      }
    </ion-col>

    <!-- Last Name -->
    <ion-col size="12" size-md="6">
      <app-custom-input [iconName]="'person-outline'" [iconSlot]="'start'" [inputType]="'text'"
        [placeholderText]="'Ej: Valdez López'" formControlName="lastName" />
      @if (submitted && f['lastName'].invalid) {
      <div class="error-message">
        @if (f['lastName'].errors?.['required']) {
        <span>El apellido es requerido</span>
        }
        @if (f['lastName'].errors?.['minlength']) {
        <span>Mínimo 2 caracteres</span>
        }
      </div>
      }
    </ion-col>

    <!-- Email -->
    <ion-col size="12">
      <app-custom-input [iconName]="'mail-outline'" [iconSlot]="'start'" [inputType]="'email'"
        [placeholderText]="'Email@example.com'" formControlName="email" />
      @if (submitted && f['email'].invalid) {
      <div class="error-message">
        @if (f['email'].errors?.['required']) {
        <span>El correo es requerido</span>
        }
        @if (f['email'].errors?.['email']) {
        <span>Ingresa un correo válido</span>
        }
      </div>
      }
    </ion-col>

    <!-- Mobile Number -->
    <ion-col size="12" size-md="6">
      <app-custom-input [iconName]="'call-outline'" [iconSlot]="'start'" [inputType]="'tel'"
        [placeholderText]="'(+52) 6441727482'" formControlName="mobileNumber" />
      @if (submitted && f['mobileNumber'].invalid) {
      <div class="error-message">
        @if (f['mobileNumber'].errors?.['required']) {
        <span>El teléfono es requerido</span>
        }
        @if (f['mobileNumber'].errors?.['pattern']) {
        <span>Teléfono inválido (mínimo 10 dígitos)</span>
        }
      </div>
      }
    </ion-col>

    <!-- Password -->
    <ion-col size="12" size-md="6">
      <app-custom-input [iconName]="passwordVisible ? 'eye-off-outline' : 'eye-outline'" [iconSlot]="'end'"
        [inputType]="passwordVisible ? 'text' : 'password'" [placeholderText]="'Contraseña'"
        (Clicked)="togglePasswordVisibility()" formControlName="confirmPassword" />
      @if (submitted && f['password'].invalid) {
      <div class="error-message">
        @if (f['password'].errors?.['required']) {
        <span>El teléfono es requerido</span>
        }
        @if (f['password'].errors?.['minlength']) {
        <span>Mínimo 8 caracteres</span>
        }
      </div>
      }
    </ion-col>

    <!-- Confirm Password -->
    <ion-col size="12" size-md="6">
      <app-custom-input [iconName]="confPwsVisible ? 'eye-off-outline' : 'eye-outline'" [iconSlot]="'end'"
        [inputType]="confPwsVisible ? 'text' : 'password'" [placeholderText]="'Confirma tu contraseña'"
        formControlName="confirmPassword" (Clicked)="toggleConfPswVisibility()" />
      @if (submitted && f['confirmPassword'].invalid) {
      <div class="error-message">
        @if (f['confirmPassword'].errors?.['required']) {
        <span>Debes confirmar la contraseña</span>
        }
      </div>
      }
    </ion-col>

    <!-- Buttons -->
    <ion-row>
      <ion-col size="12" size-md="6">
        @if (!isEditingData) {
        <app-custom-button [text]="'Cancelar'" [iconName]="'close-circle-outline'" [type]="'secondary'"
          [expand]="'block'" [slot]="'start'" (clicked)="closeModal()" />
        } @else {
        <app-custom-button [text]="'Limpiar'" [iconName]="'refresh-circle'" [type]="'secondary'" [expand]="'block'"
          [slot]="'start'" (clicked)="resetForm()" />
        }
        <app-custom-button (clicked)="onSubmit()" [iconName]="'close-circle-outline'" [expand]="'block'" [slot]="'start'"
          [text]="isEditingData ? 'Guardar Cambios' : 'Registrarse'"
          [iconName]="isEditingData ? 'save-outline' : 'checkmark-circle'"
          [disabled]="!registerForm.invalid && submitted"
          />
      </ion-col>
    </ion-row>

  </ion-grid>
</form>

<!-- [disabled]="!registerForm.invalid && submitted" -->

<!-- 
tareas pendientes 27/08/2026
1. estoy tratando de usar el custom-button como un type submit pero no esta funcionando, probablemente no funcionando
sin algo como el controlvalueaccess.
2. algun modo offline a largo plazo, tarea de baja prioridad pero debo crearla. 
3. hecha: separar el toggle de visibilidad del campo de contraseñas
-->