<ion-header [translucent]="true" class="ion-hide-sm-down">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="page-container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center">Mi Información</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <!-- Profile Picture Section -->
              <div class="ion-text-center ion-margin-bottom">
                <div class="profile-picture-container">
                  @if (!imgSrc) {
                  <div class="profile-picture-placeholder">
                    <ion-icon name="person-circle-outline"></ion-icon>
                  </div>
                  <app-custom-button [type]="'primary'" [size]="'small'" [iconName]="'camera-outline'"
                    [text]="'Agregar imagen'" [class]="'add-picture-btn'" [slot]="'start'"
                    (clicked)="showPictureSourceOptions()"></app-custom-button>
                  } @else {
                  <img [src]="imgSrc" alt="Profile Picture" class="profile-picture" />
                  <ion-button fill="outline" color="primary" size="small" class="change-picture-btn"
                    (click)="showPictureSourceOptions()">
                    <ion-icon name="camera-outline" slot="start"></ion-icon>
                    Cambiar Imagen
                  </ion-button>
                  }
                </div>
              </div>

              <!-- User Information Section -->
              <div class="user-info-section ion-margin-top">
                <ion-item>
                  <ion-label position="" class="userInfo">{{currentUser?.nombre || 'Nombre'}}</ion-label>
                  <ion-icon name="person-outline" slot="start"></ion-icon>
                </ion-item>
                <ion-item>
                  <ion-label position="" class="userInfo">{{currentUser?.apellidos || 'Apellido'}}</ion-label>
                  <ion-icon name="person-outline" slot="start"></ion-icon>
                </ion-item>
                <ion-item>
                  <ion-label position="" class="userInfo">{{currentUser?.email ||
                    'nombre@correo.com'}}</ion-label>
                  <ion-icon name="mail-outline" slot="start"></ion-icon>
                </ion-item>
                <ion-item>
                  <ion-label position="" class="userInfo">
                    {{currentUser?.telefono || 'Ej: +52644123456'}}
                  </ion-label>
                  <ion-icon name="call-outline" slot="start"></ion-icon>
                </ion-item>
              </div>

              <br>

              <div class="button-section">
                <app-custom-button [type]="'primary'" [text]="'Editar Perfil'" [iconName]="'create-outline'"
                  [slot]="'start'" (clicked)="editProfile()">
                </app-custom-button>
                <!-- por ahora desactivo el tema claro -->
                <!-- <app-theme-toggle /> -->
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>

<ion-modal #modalEditInfo [initialBreakpoint]="0.90" [breakpoints]="[0, 0.25, 0.5, 0.75, 0.90]">
  <ng-template>
    <app-register-form [Title]="'Editar Perfil'" [userData]="currentUser"
      (formSubmit)="getDataEmitted($event)"></app-register-form>
  </ng-template>
</ion-modal>

<!-- 
tarea pendiente
se pueden mandar components props, pero como le hago en el modalcontroller que detecte un submit, será posible? -->