<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="page-container">

    <div #srcollContainer cdkDropListGroup class="listContainer">

      <div cdkDropList #todoList id="todo" class="myDropList" [cdkDropListData]="todoArr()"
        (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="onListEntered($event)">
        <ion-card-header>
          <ion-card-title class="ion-text-center">Por Hacer {{todoArr().length}}</ion-card-title>
        </ion-card-header>
        <div class="tasks-container">
          @for (todoTask of todoArr(); track todoTask.id) {
          <div cdkDrag [cdkDragData]="todoTask" class="divDrag" (cdkDragMoved)="onDragMoved($event)"
            (click)="showTaskDetails(todoTask)" [attr.data-id]="todoTask.id">
            <ion-card class="todo">
              <ion-card-header>
                <ion-card-title>{{todoTask.title}}</ion-card-title>
                <ion-card-subtitle>{{ todoTask.description}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <div class="card-footer">
                  <div>
                    
                  </div>
                  <div>
                    <img [src]="imgSrc" class="small-user-ico" />
                  </div>
                </div>
              </ion-card-content>
            </ion-card>
          </div>

          <!-- Placeholder -->
          <ng-template cdkDragPlaceholder>
            <div class="drag-placeholder"></div>
          </ng-template>

          <!-- Preview (ghost mientras arrastras) -->
          <ng-template cdkDragPreview>
            <div class="drag-preview">
              {{todoTask}}
            </div>
          </ng-template>
          }
        </div>
      </div>

      <div cdkDropList #doingList id="doing" class="myDropList" [cdkDropListData]="doingArr()"
        (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="onListEntered($event)">
        <ion-card-header>
          <ion-card-title class="ion-text-center">En Curso {{doingArr().length}}</ion-card-title>
        </ion-card-header>
        @for (doingTask of doingArr(); track doingTask.id) {
        <div cdkDrag [cdkDragData]="doingTask" class="divDrag" (cdkDragMoved)="onDragMoved($event)"
          data-id="{{doingTask.id}}" (click)="showTaskDetails(doingTask)">
          <ion-card class="doing">
              <ion-card-header>
                <ion-card-title>{{doingTask.title}}</ion-card-title>
                <ion-card-subtitle>{{ doingTask.description}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <div class="card-footer">
                  <div>
                    
                  </div>
                  <div>
                    <img [src]="imgSrc" class="small-user-ico" />
                  </div>
                </div>
              </ion-card-content>
          </ion-card>
        </div>

        <!-- Placeholder -->
        <ng-template cdkDragPlaceholder>
          <div class="drag-placeholder"></div>
        </ng-template>

        <!-- Preview (ghost mientras arrastras) -->
        <ng-template cdkDragPreview>
          <div class="drag-preview">
            {{doingTask}}
          </div>
        </ng-template>
        }
      </div>

      <div cdkDropList #doneList id="done" class="myDropList" [cdkDropListData]="doneArr()"
        (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="onListEntered($event)">
        <ion-card-header>
          <ion-card-title class="ion-text-center">Terminado {{doneArr().length}}</ion-card-title>
        </ion-card-header>
        @for (doneTask of doneArr(); track doneTask.id) {
        <div cdkDrag [cdkDragData]="doneTask" class="divDrag" (cdkDragMoved)="onDragMoved($event)"
          data-id="{{doneTask.id}}" (click)="showTaskDetails(doneTask)">
          <ion-card class="done">
              <ion-card-header>
                <ion-card-title>{{doneTask.title}}</ion-card-title>
                <ion-card-subtitle>{{ doneTask.description}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <div class="card-footer">
                  <div>
                    
                  </div>
                  <div>
                    <img [src]="imgSrc" class="small-user-ico" />
                  </div>
                </div>
              </ion-card-content>
          </ion-card>
        </div>

        <!-- Placeholder -->
        <ng-template cdkDragPlaceholder>
          <div class="drag-placeholder"></div>
        </ng-template>

        <!-- Preview (ghost mientras arrastras) -->
        <ng-template cdkDragPreview>
          <div class="drag-preview">
            {{doneTask}}
          </div>
        </ng-template>
        }
      </div>

    </div>
  </div>
</ion-content>

<ion-modal #modalTaskDetails [initialBreakpoint]="0.75" [breakpoints]="[0, 0.25, 0.5, 0.75]">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Detalles Tarea
        </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modalTaskDetails.dismiss(); cleanTaskFlow()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="task-details">
        <div class="status-container">
          @if (editableTask()?.status === 1) {
          <ion-label color="primary">Por Hacer</ion-label>
          <div class="status-icon todo"> </div>
          }
          @if (editableTask()?.status === 2) {
          <ion-label color="success">En Curso</ion-label>
          <div class="status-icon doing"> </div>
          }
          @if (editableTask()?.status === 3) {
          <ion-label color="danger">Terminado</ion-label>
          <div class="status-icon done"> </div>
          }
        </div>


        <ion-item>
          <ion-input #inpTitle label="Titulo" label-placement="floating" fill="solid"
            [(ngModel)]="editableTask()!.title" [readonly]="!titleKeyActive"
            [helperText]="titleKeyActive ? 'Editando titulo' : ''"></ion-input>
          <ion-icon [class.active]="titleKeyActive" name="create-outline" slot="end"
            (click)="EditField('title')"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-input #inpDesc label="Descripcion" label-placement="floating" fill="solid"
            [(ngModel)]="editableTask()!.description" [readonly]="!descKeyActive"
            [helperText]="descKeyActive ? 'Editando descripción' : ''"></ion-input>
          <ion-icon [class.active]="descKeyActive" name="create-outline" slot="end"
            (click)="EditField('description')"></ion-icon>
        </ion-item>
      </div>
      <div class="task-actions">
        @if (editableTask()?.status === 1) {
        <ion-button color="primary" (click)="changeTaskStatus(2)">Iniciar</ion-button>
        } @else if (editableTask()?.status === 2) {
        <ion-button color="warning" (click)="changeTaskStatus(1)">Detener</ion-button>
        <ion-button color="danger" (click)="changeTaskStatus(3)">Finalizar</ion-button>
        } @else if (editableTask()?.status === 3) {
        Tarea finalizada
        }
      </div>
      @if (titleKeyActive || descKeyActive || statusKeyActive) {
      <div class="changes-actions">
        <ion-button color="primary" (click)="cleanTaskFlow(); this.modalTaskDetail.dismiss();">Cancelar</ion-button>
        <ion-button color="primary" (click)="saveTaskChanges()">Guardar</ion-button>
      </div>
      }

    </ion-content>
  </ng-template>
</ion-modal>